<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :groupname %><br>
    <%= f.text_field :groupname %>
   </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.text_field :admin %>
  </div>
  <!--<div class="field">-->
    <%#= f.label :count %><br>
    <!--<%#= f.number_field :member_count %>-->
  <!--</div>-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
