
    <div class="titleBox">
      <label> New Post</label>
      <!--<button type="button" class="close" aria-hidden="true">&times;</button>-->
    </div>

    <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!--<div class="field col-md-12 " style="margin-top: 10px">-->


        <div class="col-md-offset-1">

    <div class="form-inline field col-md-12 row" style="margin-top: 40px;">


      <div class="form-group col-md-6">

        <label for ="course"  > Subject: </label>
        <%= f.text_field :course  , :placeholder=> "COURSE" ,class:"form-control" , autofocus:true %>
      </div>


              <div class="form-group col-md-6 " >

                <label for ="title"  > Program Title: </label>

                <%= f.select :title,options_for_select([
                                                                ['Internal','Internal'],
                                                                ['Viva','Viva'],
                                                                ['Presentation','Presentation'],
                                                                ['Assignment','Assignment'],
                                                                ['Lab Report', 'Lab Report'],
                                                                ['MCQ','MCQ'],
                                                                ['Lab Exam', 'Lab Exam']
                                                                              ], {:class=>"form-control col-md-6"}) %>
            </div>




    </div>


          <div class="form-inline field col-md-12 row" style="margin-top: 20px;">
            <div class="form-group col-md-6">
            <label for ="no"  > Number: </label>
            <%= f.number_field :no, :placeholder=>"You can ignore" , :class=>"form-control" %>
        </div>

              <div class="form-group col-md-6">
                <label for ="deadline" > Deadline: </label>
            <%= f.date_select :deadline %>
                </div>
        </div>




<br>
<div class="col-md-6" style="margin-top: 40px">
    <div class="from-group col-md-offset-1"> <%= f.submit :class=>"btn btn-primary col-md-offset-1" %> </div>
  </div>

</div>

<% end %>