<p id="notice"><%= notice %></p>

<div class ="detailBox">
  <div class="titleBox">
    <label> Post</label>
    <!--<button type="button" class="close" aria-hidden="true">&times;</button>-->
  </div>

<div class="commentList ">
  <b style="height: 50px; padding:1%"><p style="font-size:190%" class="col-md-12 col-sm-12 col-xs-12">
  <b> <%= @post.title %></b>
  <%= @post.no %>
  <%= "   of   " %>
  <%= @post.course%>
  <% if @post.title == "Assigment" || @post.title == "Lab Report"   %>
      <%= "has to be submited by "%>
  <%else%>
      <%=" will be held on" %>
  <%end%>
  <%= @post.deadline%>

</p></b>

<p class="col-md-offset-10 col-sm-offset-2" >
  <span class="sub-text"> <%= @post.username %></span><br>
  <span class="date sub-text"><%= time_ago_in_words(@post.created_at) %> ago</span>
</p>

</div>
  </div>
  </hr>

<%= form_for([@post,@image],:html => {:multipart => true}) do |f| %>
   <div> <%= f.file_field :image %>
     <%=f.hidden_field :user_id ,value: current_user.id%>
     <%=f.hidden_field :post_id ,value: @post.id %>
     <%= f.submit "Upload" %></div>
<% end %>

<%@post.images.each do |image|%>
    <%=link_to "#{image.image_file_name}",images_show_path(:id => image.id)  %>
    <%#= image.image.url %>
</br>
    <%end%>



<div class="detailBox">
<div class="titleBox">
  <label>Comments</label>
  <!--<button type="button" class="close" aria-hidden="true">&times;</button>-->
</div>

<div class="actionBox">
  <ul class="commentList">

<!--show comments-->
  <% @post.comments.each do |comment| %>

    <li>
      <div class="commentText">
        <b><%= comment.username %></b>
        <p class=""><%= comment.content %> </p> <span class="date sub-text"><%= time_ago_in_words(comment.created_at) %> ago</span>

</div>
</li>

<%end%>

</ul>
<!--</div>-->
<!--<p><%#= notice %></p>-->
<%= form_for([@post,@comment]) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>





<!--<div class="col-md-12">-->
      <div class="form-group field ">
        <%= f.text_area :content, :class=>"form-control" , :placeholder=>"Your comments" %>
        <%= f.hidden_field :post_id ,value: @post.id %>
      </div>
      <div class="form-group action btn btn-default">
        <%= f.submit  :value=> "Add"  %>
      </div>

</div>
<% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<% content_for :header do %>
    <%= render 'shared/header'%>
<%end%>


<% content_for :sidebar do%>

    <%= render 'shared/sidebar'%>

<%end%>

<% content_for :top do%>
    <!--<button type="button" class="btn btn-default">Default</button>-->
    <%= render 'shared/nav'%>

<% end %>